/Pt01AbstractFactory/bin
/Pt01AbstractFactory/obj
/Pt02Builder/bin
/Pt02Builder/obj
/Pt03FactoryMethod/bin
/Pt03FactoryMethod/obj
/Pt04Prototype/bin
/Pt04Prototype/obj
/Pt05Singlton/bin
/Pt05Singlton/obj
/Pt06Adapter/bin/Debug
/Pt06Adapter/obj/Debug
/Pt07Bridge/bin/Debug
/Pt07Bridge/obj/Debug
/Pt08Composite/bin/Debug
/Pt08Composite/obj/Debug
/Pt09Decorator/bin/Debug
/Pt09Decorator/obj/Debug
/Pt10Facade/bin/Debug
/Pt10Facade/obj/Debug
/Pt11Flyweight/bin/Debug
/Pt11Flyweight/obj/Debug
/Pt12Proxy/bin/Debug
/Pt12Proxy/obj/Debug
/Pt12ChainOfResponsibility/bin/Debug
/Pt12ChainOfResponsibility/obj/Debug
/Pt14Command/bin/Debug
/Pt14Command/obj/Debug
/Pt15Interpreter/obj/Debug
/Pt15Interpreter/bin/Debug
/Pt16Iterator/bin/Debug
/Pt16Iterator/obj/Debug
/Pt17Mediator/bin/Debug
/Pt17Mediator/obj/Debug
