/Pt01AbstractFactory/bin
/Pt01AbstractFactory/obj
/Pt02Builder/bin
/Pt02Builder/obj
/Pt03FactoryMethod/bin
/Pt03FactoryMethod/obj
/Pt04Prototype/bin
/Pt04Prototype/obj
/Pt05Singlton/bin
/Pt05Singlton/obj
/Pt06Adapter/bin/Debug
/Pt06Adapter/obj/Debug
